<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ccu.skintears">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Para informar que necesitamos de que el dispositivo tenga una cámara -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".activities.evaluaciones.Utilidad"
        android:allowBackup="true"
        android:icon="@mipmap/ic_skin_tears_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_skin_tears_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- Add license key in meta-data tag here -->
        <meta-data
            android:name="pdftron_license_key"
            android:value="${pdftronLicenseKey}" />

        <activity android:name=".activities.reconocimiento.SubirImagenActivity" />
        <activity android:name=".activities.reconocimiento.CameraActivity" />
        <activity
            android:name="com.pdftron.pdf.controls.DocumentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:theme="@style/CustomAppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".androidpdfviewer.AndroidPDFViewer" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activities.InicioActivity"
            android:label="@string/title_activity_inicio"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ContenidosActivity"
            android:label="@string/title_activity_contenidos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TratamientosActivity"
            android:label="@string/title_activity_tratamientos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.EvaluacionesActivity"
            android:label="@string/title_activity_evaluaciones"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ReconocimientoActivity"
            android:label="@string/title_activity_reconocimiento"
            android:parentActivityName=".activities.InicioActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.evaluaciones.MenuEvaluacion"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.evaluaciones.PreguntasEvaluacion"
            android:label="@string/app_name"
            android:parentActivityName=".activities.evaluaciones.MenuEvaluacion"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ccu.skintears.activities.evaluaciones.MenuEvaluacion" />
        </activity>
        <activity
            android:name=".activities.evaluaciones.Resultados"
            android:label="@string/app_name"
            android:parentActivityName=".activities.evaluaciones.MenuEvaluacion"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ccu.skintears.activities.evaluaciones.MenuEvaluacion" />
        </activity>
        <activity
            android:name=".activities.evaluaciones.Despedida"
            android:label="@string/app_name"
            android:parentActivityName=".activities.evaluaciones.MenuEvaluacion"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ccu.skintears.activities.evaluaciones.MenuEvaluacion" />
        </activity>
    </application>

</manifest>